body {
  font-size: 16px;
}
.wrap {
  padding: 20px;
  background-color: rgb(93, 93, 243);
}

.class1 {
  text-align: center;
}
.class1 h1 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
}
.class1 p {
  font-size: 18px;
  margin-bottom: 20px;
  color: #fff;
}
.classbutton {
  text-align: center;
}
.classbutton button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background-color: rgb(251, 202, 111);
  color: #fff;
  cursor: pointer;
}

.class2 {
  margin-top: 20px;
  text-align: center;
}
.class2 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}
.class2 p {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.classCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 250px;
  height: 150px;
  margin-bottom: 10px;
}

.card h4 {
  text-align: center;
  margin-top: 0;
  color: white;
}

.class3 {
  margin-top: 20px;
  text-align: center;
}
.class3 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}
.class3 p {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.classCard2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card1 {
  width: 45%;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card1 .imgClass {
  display: flex;
  flex-direction: column;
}

.classCard .card1 > img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  padding-right: 15px;
}

.classCard2 .card1 .bonus > img {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.classCard3 .card10 {
    background-color: white;
    gap: 10px;
    border-radius: 5px;
    align-items: center;
}
.card10 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card1 h4 {
  margin-top: 0;
  text-align: center;
}

.card1 p {
  text-align: center;
  margin-bottom: 20px;
}

.card1 button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(251, 202, 111);
  color: #fff;
  cursor: pointer;
}

.card1 button:hover {
  background-color: #3e8e41;
}

.class4 {
  margin-top: 20px;
  text-align: center;
}
.class4 h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}
.class4 p {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}

.class5 {
  text-align: center;
  margin-top: 20px;
}
.class5 h6 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}
.class5 p {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
}
.class5 i {
  font-size: 24px;
  margin: 0 10px;
  color: white;
  border: 100%;
}
.footer {
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  clear: both;
}

.footer span {
  font-size: 12px;
}

@media only screen and (min-width: 768px) {
  .card1 {
    width: 30%;
    display: flex;
    flex-direction: column;
  }

  .card1 .bonus .lorem > h4 {
    text-align: left;
    padding-top: 20px;
  }

  .card1 img {
    order: -1;
    margin-right: 25px;
  }
  .class5 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    text-align: left;
  }
  .bonus {
    display: flex;
    flex-direction: row;
  }
  .classCard2 .card1 > img {
    width: 20%;
  }

  .classCard2 .card1 {
    justify-content: center;
  }
  .card10 {
    display: flex;
    align-items: center;
    background-color: white;
    gap: 5px;
    padding: 10px 15px;
    border-radius: 7px;
    width: 100%;
  }
  .card10 img {
    width: 45px;
  }
  .classCard3  {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 80%;
    margin: auto;
  }
}
